.form-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    width: 700px;
    margin: 10px auto;
    border: 1px solid gray;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-left: 5px;
}

.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid gray;
    box-sizing: border-box;
    font-size: 24px;
    border-radius: 5px;
}

.form-submit {
    height: 55px;
    width: 415px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(237, 158, 62);
    cursor: pointer;
}

.form-link {
    color: rgb(248, 179, 4);
    text-decoration: none;
}