body,
html {
    height: 100%;
}

.bg {
    background-image: url("https://i.ibb.co/t8RGPVY/robert-shunev-m-S1nl-Ybq1k-A-unsplash.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightcoral;
}

.title {
    padding-top: 10px;
}